body {
  /* The image used */
  background-image: url("cloud.jpg");
  z-index: -1;

/* Full height */
  height: 50%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
