body, html {
  height: 100%;
  z-index: -1;
}

body {
  /* The image used */
  background-image: url("cloud.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-size: cover;
  background-position: bottom;
}

/* Background Video */
video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
